.p-posts a{
    margin: 20px;
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    font-weight: bold;


}

.p-posts nav{
    margin-top: 50px;


}

.p-posts hr{
    margin-top: 33px;
}

